{%- if not config.extra.disable_javascript %}
  {%- if page.extra.math | default(value=(section.extra.math | default(value=config.extra.math))) %}
    {%- if config.extra.use_cdn %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.css"
    integrity="sha384-Pu5+C18nP5dwykLJOhd2U4Xen7rjScHN/qusop27hdd2drI+lL5KvX7YntvT8yew" crossorigin="anonymous" />
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.js"
    integrity="sha384-2B8pfmZZ6JlVoScJm/5hQfNS2TI/6hPqDZInzzPc8oHpN5SgeNOf4LzREO6p5YtZ" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/contrib/auto-render.min.js"
    integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"></script>
    {%- else %}
  <link rel="stylesheet" href="{{ _link::rel(dest=get_url(path=`katex/katex.min.css`, cachebust=true), cu=_cu, base=_base) }}" />
  <script defer src="{{ _link::rel(dest=get_url(path=`katex/katex.min.js`, cachebust=true), cu=_cu, base=_base) }}"></script>
  <script defer src="{{ _link::rel(dest=get_url(path=`katex/contrib/auto-render.min.js`, cachebust=true), cu=_cu, base=_base) }}"></script>
    {%- endif %}
  <script>document.addEventListener("DOMContentLoaded", window.zolaTheme.katex.init);</script>
  {%- endif %}
  {%- if page.extra.mermaid | default(value=(section.extra.mermaid | default(value=config.extra.mermaid))) %}
  <!-- Mermaid -->
  <script src="{{ _link::rel(dest=get_url(path='js/mermaid/mermaid.min.js', cachebust=true), cu=_cu, base=_base) }}"></script>
  <script>window.zolaTheme.mermaid.init({ mermaid: window.mermaid, s: ".mermaid" });</script>
  {%- endif %}
  {%- if config.extra.goatcounter.endpoint %}
    {%- if config.extra.goatcounter.src %}
      {%- set goatcounter_src = config.extra.goatcounter.src %}
    {%- elif config.extra.use_cdn %}
      {%- set goatcounter_src = "//gc.zgo.at/count.js" %}
    {%- else %}
      {%- set goatcounter_src = _link::rel(dest=get_url(path=`js/gc.min.js`, cachebust=true), cu=_cu, base=_base) %}
    {%- endif %}
  <!-- GoatCounter -->
  <script>window.zolaTheme.analytics.initGoatCounter({ src: "{{ goatcounter_src | escape_xml | safe }}", endpoint: "{{ config.extra.goatcounter.endpoint | escape_xml | safe }}" });</script>
    {%- if config.extra.goatcounter.noscript_prefix is defined and current_path is defined %}
  <noscript><img src="{{ config.extra.goatcounter.endpoint | escape_xml | safe }}?p={{
    config.extra.goatcounter.noscript_prefix ~ current_path | urlencode | safe }}" alt=""></noscript>
    {%- endif %}
  {%- endif %}
  {%- if config.extra.vercel_analytics.src %}
  <!-- Vercel Web Analytics -->
  <script>window.zolaTheme.analytics.initVercel({ src: "{{ config.extra.vercel_analytics.src | escape_xml | safe }}" });</script>
  {%- endif %}
{%- endif %}
