name: Build Zola Site

on:
  workflow_call:

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: true

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: pnpm install

      - name: Copy static assets from dependencies
        run: pnpm build

      - name: Build Zola site
        uses: getzola/github-pages@435a833fd3f1edcb28d70576c89e30a6365cd8f7
        with:
          zola_version: 'v0.22.1'
