name: Pull Request

on:
  pull_request:

jobs:
  build_and_test:
    name: Build and test

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup Ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25 # v1.267.0
        with:
          bundler-cache: true

      - name: Install dependencies
        run: npm ci

      - name: Check lint
        run: npm run lint

      - name: Build site
        run: bundle exec jekyll build
