name: Pull Request

on:
  pull_request:

jobs:
  build_and_test:
    name: Build and test

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Check lint
        run: npm run lint
