name: Pull Request

on:
  pull_request:

jobs:
  build_and_test:
    name: Build and test

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'

      - name: Setup Ruby
        uses: ruby/setup-ruby@d354de180d0c9e813cfddfcbdc079945d4be589b # v1.275.0
        with:
          bundler-cache: true

      - name: Install dependencies
        run: pnpm install

      - name: Check lint
        run: pnpm lint

      - name: Build site
        run: bundle exec jekyll build
